<h1>Kittens#Index</h1>

<div>
  <p>List of Kittens:</p>
  <% @kittens.each do |kitten| %>
    <ul>
      <li><%= kitten.name %></li>
      <li><%= link_to 'Destroy', kitten, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    </ul>
<% end %>
</div>

<%= link_to 'New Kitten', new_kitten_path %>